* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fef2e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #0f1e43;
}

.nav-buttons {
  display: flex;
  gap: 2.5rem;
}

.nav-buttons button {
  border: none;
  background: none;
  color: #0f1e43;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

#content {
  padding: 2rem 20rem;
}
@media (max-width: 1366px) {
  #content {
    padding: 1.5rem 1.5rem;
  }
  /* .instructions {
    padding: 0 5.5rem;
  } */
}

.call {
  text-align: center;
}

.call h1 {
  color: #0f1e43;
}

.view-menu {
  background-color: #2d6e6e;
  color: white;
  border: none;
  border-radius: 50px; /* Deixa o botão arredondado */
  margin-top: 2rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.home-image {
  display: block;
  margin: 5rem auto; /* margem superior/inferior e laterais */
  max-width: 100%;
}

/* .instructions {
  background-color: rgb(241, 213, 68);
  padding: 0 14rem;
} */

.instructions {
  background-color: #f6be5d; /* Fundo amarelado */
  margin-top: 6rem;
  padding: 4rem;
  border-radius: 12px;
  text-align: center;
}

.instructions h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.instructions p {
  line-height: 1.6;
  max-width: 550px; /* Evita que o texto fique muito largo */
  margin: 1rem auto; /* Centraliza o parágrafo */
}

.instructions .view-menu {
  margin-top: 2rem;
}
